/* AKZIDENZ FONT */

/* @import url('http://fonts.cdnfonts.com/css/berthold-akzidenz-grotesk-be-9'); */

/* BAUHAUS FONT */

/* @import url('http://fonts.cdnfonts.com/css/bauhaus'); */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    
                                                
}

header {
    background: #e82127;
    color: white;
    
    position: fixed;
    z-index: 1000;
    min-width: 100%;
}

h1 ,h2 {
    font-family: 'Varela Round', sans-serif;
    
}

h1 {
    font-weight: 100;
}



.logo {
    background: url(imagenes/header/TESLA_LOGO.svg) no-repeat center center;
    margin-left: 2rem;
    max-width: 20vw;
    height: 4rem;
    line-height: 4rem; /* INTERLINEADO */
}


header>div>h1{
    
    text-align: left;
    padding-left: 1rem;
    text-indent: -400px;
    
}

.encabezado_banner{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 50vw;
}

.encabezado_banner p{
    
    
    text-align: right;
    
}

#formulario_mobile {
    display: none;
}


/* ---------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------- MOBILE ------------------------------------------------- */
/* ------------------------------------------------- 900 PX ------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------- */



@media screen and (max-width: 760px) {

   

    nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

   
    #menu > a {
        list-style: none;
        text-indent: -100px;      /* CORRO EL TEXTO 100 PX A LA IZQ */
        overflow: hidden;         /* CON ESTO OCULTO ESE TEXTO CORRIDO A LA IZQ */
        margin-top: .75em;
        background: url("imagenes/header/menu.png") no-repeat center center;
        background-size: cover;   /* HAGO QUE LA IMAGEN CUBRA TODO EL ANCHO DECLARADO */
        height: 2.5em;
        width: 2.5em;
        position: absolute;       /* SE PONE POSITION ABSOLUTE PARA PISAR EL DE ABRIR CON EL DE CERRAR ESTANDO EN EL MISMO LUGAR */
        top: 0;
        right: 10px;
        /* border: 2px solid white;
        border-radius: 1rem; */
    }


    /* OCULTAR BOTON CERRAR */

    #cerrar {
        display: none;
    }

    /* Cuando abrir entra en foco animamos el ingreso de la barra y mostramos el botón cerrar para que "tape" al de abrir. 
    
    Si bien al hacer click en cualquier lado de la pantalla abrir pierde foco, no lo hace si lo volvemos a cliquear, por eso superponemos el de cerrar que lo único que hace es que abrir pierda foco y volver a estar display none. 
    
    La pseudoclase focus es nativa para elementos de formulario, sin embargo, también se puede aplicar a los vínculos sin funcionalidad de navegación (con el href #) y lo pierde cuando se hace click en cualquier lugar por fuera del botón en foco. */

    #abrir:focus ~ #barra {
        left: 0; 
        z-index: 1;
        
    }

    #abrir:focus ~ #cerrar {
        display: block;
    }

   /*  #abrir:focus .logo>h1 {
        transition: left .5s ease;
    } */

   
     /*  -------------------------------------------------MAIN-------------------------------------------------- */

    .banner {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .banner #button{
        position: absolute;
        align-self: flex-end;
        margin-bottom: 2rem;
        font-size: .6rem;
       
    }

    #button a{
        text-decoration: none;
        color: white;
        font-family: 'Varela Round', sans-serif;
        font-weight: 100;
        border-radius: 3.5rem;
        padding: 1rem;
        box-shadow: 4px 4px 5px 2px rgba(0, 0, 0, 0.3);
        background-color: #676767;
        
    }

    #button:target #formulario_mobile{
        display: block;
        position: fixed;
        top: 4rem;
        left: 0;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #e82127;
        color: white;
        width: 100vw;
        height: 92vh;
        font-size: 1.5rem;
        border-top: 2px solid white;
        
              
        
    }
    
    
    #formulario_mobile form{
        
        padding: 1rem;
        
    }

    #formulario_mobile form div {
        display: flex;
        flex-direction: column;
        
    }

    #formulario_mobile form div input {
        width: 13rem;
        height: 2rem;
    }
    


    #formulario_mobile input{
        justify-content: right;
        align-items:flex-end;
        align-self: flex-end;
        align-content: flex-end;
        
    }

    #formulario_mobile h1{
        margin-bottom: 2rem;
    }
    
    #formulario_mobile span{
        font-size: 2rem;
    }

    #formulario_mobile input{
        
        margin-top: .8rem;
        margin-bottom: .8rem;
        
    }

    .submit {
        margin-top: 2rem;
        
    }

    .submit input{
        
        color: white;
        font-family: 'Varela Round', sans-serif;
        font-weight: 200;
        border-radius: 3.5rem;
        font-size: 1.5rem;
        /* font-weight: bold; */
        line-height: .2rem;
        padding: 1rem;
        border: none;
        box-shadow: 4px 4px 5px 2px rgba(155, 9, 9, 0.928);
        background-color:gold;
        color: black;
        
       
    }

    

   

    #button:target #button{
        border-radius: none;
        box-shadow: none;
    }

    #button:target a{
       display: none;
    }

    

    


    .encabezado_banner {
        position: absolute;
        top: 5rem;
        left: 1rem;
        font-size: 3.5vw;
        color: #9a9a9a;
    }

    
    
    .banner img {
        position: relative;
        top: 0;
        left: 0;
        z-index: -5;
        max-width: 100%;
        margin-top: 64px;
       
    }

    .banner-pastillas{
        position: relative;
        top: -4px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        
        gap: 2rem;
        background-color: #676767;
        min-width: 100vw;
        min-height: 50vh;
        color: white;
        
    }

    .banner-pastillas div {
        
        text-align: center;
        margin: 0 2rem;
        border-bottom: 1px solid white;
    }

    

    .banner-pastillas h2 {
        font-family: 'Bauhaus', sans-serif;
        color:#9a9a9a;
    }


    .banner-pastillas div:first-child {
        margin-top: 2rem;
    }

    .banner-pastillas>div h2 {
        margin-top: 1rem;
    }

    .banner-pastillas h2, p {
        
        margin-bottom: 1.5rem;
    }

    
    .banner-pastillas img {
        
        min-width: 10vw;
        max-width: 20vw;
        min-height: 10vh;
        max-height: 20vh;
    }

    #barra {
        width: 100%;
        position: absolute;
        z-index: 2;
        top: 4rem;                   /* PARA QUE EMPIECE A PARTIR DEL 4REM DEL HEADER */
        left: -200%;                 /* SE LE PONE -100% PARA QUE PERMANEZCA OCULTO Y SEA LLAMADO CON EL FOCUS */
        height: calc(100vh - 4rem);  /* SE LE RESTA LOS 4 REM DEL TOP */
        
        transition: left .5s ease;
        display: flex;
        flex-direction: column;
        background-color: #e82127;
        align-items: center;
        padding: 1rem;
        border-top: 2px solid white;
    }

    

    /* .formulario_mobile, .formulario_pc{
        display: none;
    } */

}



/* ---------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------TABLET WIDE /PC------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------- */

@media screen and (min-width: 761px) {

   
   
    nav {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
    }

    #menu #abrir, #cerrar{
        display: none;
    }

  
   
    .encabezado_banner {
        position: absolute;
        top: 8rem;
        left: 1rem;
        font-size: 3.5vw;
        color: #9a9a9a;
       
        margin-left: 1rem;
    }

   
    
    .banner img {
        position: relative;
        top: 0;
        left: 0;
        z-index: -5;
        max-width: 100%;
        margin-top: 64px;
       
    }

    .banner-pastillas{
        position: relative;
        top: -4px;

        display: flex;
        flex-direction: row;
        justify-content: center;
        
        min-height: 40vh;
        background-color: #676767;
       /*  min-width: 100vw;
        min-height: 50vh; */
        color: white;
        
    }

   

    .banner-pastillas div {
        
        text-align: center;
        margin: 0 3rem;
        
       
    }

    .banner-pastillas p {
        padding-bottom: 3rem;
        border-bottom: 2px solid white;
    }   

    

    .banner-pastillas h2 {
        font-family: 'Varela Round', sans-serif;
        color:#9a9a9a;
    }


    .banner-pastillas div {
        margin-top: 2rem;
    }

    .banner-pastillas>div h2 {
        margin-top: 1rem;
    }

    .banner-pastillas h2, p {
        
        margin-bottom: 1.5rem;
    }

    
    .banner-pastillas img {
        
        min-width: 10vw;
        max-width: 20vw;
        min-height: 10vh;
        max-height: 20vh;
    }

    .viewport_pc {
        max-width: 100%;
    }

    /* #menu {
        display: flex;
        justify-content: flex-end;
    } */

    #barra {
        position: absolute;
        right: 3rem;
        max-width: 60vw;
        display: flex;
        justify-content: space-around;
        margin-right: 0;
       /*  margin-left: 300px; */
        font-size: 1rem;
        text-align: right;
       
    }

    /* ANIMACION LINKS HOVER */

    #barra li a:after {
        
            display: block;
            content: "";
            border-bottom: solid 3px #fff;
            transform: scaleX(0);
            transition: transform 300ms ease-in-out;
        
    }

    #barra li a:hover:after {
        transform: scaleX(1);
      }
    
}



#barra li {
    list-style: none;
    margin: 1rem;
    
}

#barra li a {
    text-decoration: none;
    display: block;
    color: white;
    text-align: center;
    
    font-weight: bolder;
    font-size: 1.2rem;
}
